:root{
    --color_primario: #8527c3fd;
    --color_primario_suave: #8527c383;
    --color_blanco: #fff;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffdaf7a9;
    background-position: center top;
    background-size: cover;
    background-repeat: initial;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
    

a{
    text-decoration: none;
}

ol,ul{
    list-style: none;
    text-align: center;
}
.header {
    width: 100%;
    height: var(--altura_header);
    background-color: var(--color_primario);
    position: fixed;
    z-index: 1000;
}
.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding_left_right);
    position: relative;
}

.menu_hamburguesa{
    display: none;
}
.menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - var(--altura_header));
}
.box-logo{
    background-color: #fff;
    border-bottom-right-radius: 60px;
    height: 120px;
    padding: 0;
}
.logo {
    width:  100%;
    height: 120px;
    padding-left: 5px;
    padding-right: 5px;
}

.bi-list {
    color: #eee;
    cursor: pointer;
}
.ul_links {
    width: 100%;
    background-color: var(--color_primario_suave);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    transition: all.6s;
}
.link_menu {
    font-size: 2rem;
    color: #ffff;
    font-weight: bold;
}
@media (min-width:998px){
    .header{
        width: 100%;
    }
    .label_hamburguesa {
        display: none;
    }
    .ul_links{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 1.5rem;
    }
    .link_menu {
        font-size: 1rem;
        transition: all .3.5s;
        padding: .2rem .2rem;
    }
    .link_menu:hover{
        border-radius: 30%;
        background-color:  #4c0879fd;
    }
}
section{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.blog {
    padding: 100px 0;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 40px;
}
@keyframes fadeIn{ 
    from{ 
        opacity: 0; 
    } 
    to{ 
        opacity: 1; 
    } 
}
.sobre{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.somos {
    width: 100%;
    height: 400px;
    margin-top: 80px;
    color: #eee;
    background-image: linear-gradient(#00000059, #00000059), url(img/lobby.jpeg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    animation: fadeIn 2s forwards;

}


/*aqui comienza el css de boton*/

.info{
    display: none;
}
p{
    display: inline;
}
.input-info[type="checkbox"]{
    height: 2em;
    display: block;
    appearance: none;
}
.label-bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label-info{
    position: relative;
    padding: 15px;
    background-color: #8527c3fd; 
    color: #ffffffde;
    cursor: pointer;
    font-weight: normal;
    border-radius: 30px;
}
.label-info:hover{
    background-color: #1d58c7fd;
}
.label-info::before{
    content: 'Ver Información';
}
.input-info[type="checkbox"]:checked ~ .label-info::before{
    content: 'Ocultar Información';
}
.dots:has(~.input-info[type="checkbox"]:checked){
    display: inline;
}
.info:has(~.input-info[type="checkbox"]:checked){
    display: block;
}

/*aqui termina el css de boton*/
p{
    font-size: 15px;
}
.definition {
    width: 1150px;
    text-align: center;
    font-weight: 900;
    border-radius: 20px;
    background-color: transparent;
    margin: 60px;
    margin-top: 50px;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 0px 0px 20px 0px #0007;
    font-family: sans-serif;
    color: #302f2f;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

h2{
    text-align: center;
    font-size: 40px;
    padding: 30px;
    padding-bottom: 0;
}
.img-logo{
    width: 91%;
    height: 13em;
    border-radius: 40px;
}

.img {
    width: 100%;
    height: 13em;
    border-radius: 40px;
    
}

@media(min-width:998px){
    p{
        font-size: 20px;
    }
    .definition {
            width: 1150px;
            text-align: center;
            font-weight: 900;
            border-radius: 20px;
            background-color: transparent;
            margin: 60px;
            margin-top: 50px;
            box-shadow: 0px 0px 20px 0px #0007;
            padding: 20px;
            font-family: sans-serif;
            color: #302f2f;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
        }
    
        h2{
            text-align: center;
            font-size: 40px;
            padding: 30px;
            padding-bottom: 0;
        }
        .img-logo{
            width: 100%;
            height: 18em;
            border-radius: 40px;
        }
        .img {
            width: 100%;
            height: 18em;
            border-radius: 40px;
        }
    }

.parrafo_definition {
    margin-top: 35px;
    text-align: justify;
    font-weight: 300;
}
.mission {
    width: 1150px;
    text-align: center;
    font-weight: 900;
    border-radius: 20px;
    background-color: transparent;
    margin: 60px;
    margin-top: 50px;
    box-shadow: 0px 0px 20px 0px #0007;
    padding: 20px;
    padding-top: 10px;
    font-family: sans-serif;
    color: #302f2f;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
.parrafo_mission {
    margin-top: 35px;
    text-align: justify;
    font-weight: 300;
}
.vision {
    width: 1150px;
    text-align: center;
    font-weight: 900;
    border-radius: 20px;
    background-color: transparent;
    margin: 60px;
    margin-top: 50px;
    box-shadow: 0px 0px 20px 0px #0007;
    padding: 20px;
    padding-top: 10px;
    font-family: sans-serif;
    color: #302f2f;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.parrafo_vision {
    margin-top: 35px;
    text-align: justify;
    font-weight: 300;

}

.box-aside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-dere h3{
    padding-top: 5%;
}

.aside {
    margin-bottom:  40px;
    padding: 20px 10px;
    display: inline-flex;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
}

.container_boton_aside {
    transition: transform 0.6s;
}

.container_boton_aside:hover {
    transform: scale(1.1);
}

.boton {
    background-color: var(--color_primario);
    color: #fff;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    transition: background 0.6s;
    box-shadow: 1px 1px 4px 1px #0007;
}

.container-footer{
    width: 100%;
    margin: 0 auto;
}
.footer{
    background-color: #24262b;
    padding: 50px 0;
    
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #a203d3;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    text-align: justify;
    color: #bbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul li a:hover{
    color: #fff;
    padding-left: 6px;
}
.red-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #24262b77;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 3s ease;

}
.red-links a:hover{
    background-color: #a203d3;
}
.num-links a{
    font-size: 18px;
    text-decoration: none;
    color: #bbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.num-links a:hover{
    color: #fff;
    padding-left: 6px;
}
@media(max-width:948px){

    .footer-row{
        width: 100%;
        text-align: center;
        display: flex;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}
.footer-derechos{
    font-size: 15px;
    color: #ddd;
    font-weight: 500;
    padding-top: 40px;
    padding-left: 10px;
}
